
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1f1f1f;
}

.video-player {
    display: flex;
    flex-direction: row;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.video-box {
    height: 100vh;
    display: flex;
}

.short-video-box {
    max-width: 50%;
}

video {
    max-height: 100vh !important;
    max-width: 100%;
}
